$header-distance: 15px;

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    height: 16vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;

    h2 {
        margin: $header-distance;
        color: white;
    }

    div {
        min-width: 30%;
        background-color: #ACBDBD;
        margin: $header-distance;
        padding: $header-distance;
        text-align: center;

        h2 {
            color: #758388;
        }
    }
}

nav {
    height: 5vh;

    background-color: #414141;

    ul {
        a {
            text-decoration: none;
            li{
                margin: 0 10px;
                list-style: none;
                font-size: 20pt;
                color: white;
            }
        }
    }
}

#products {
    min-height: 70vh;
}

footer {
    height: 10vh;
    text-align: center;
    color: white;
    background-color: #414141;
}