$header-distance: 15px;

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    height: 15vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;

    h2 {
        margin: $header-distance;
        color: white;
    }

    div {
        min-width: 30%;
        background-color: #ACBDBD;
        margin: $header-distance;
        padding: $header-distance;
        text-align: center;

        h2 {
            color: #758388;
        }
    }
}

nav {
    height: 5vh;

    background-color: #414141;

    ul {
        a {
            text-decoration: none;
            li{
                margin: 0 10px;
                list-style: none;
                font-size: 20pt;
                color: white;
            }
        }
    }
}

main > h1 {
    text-align: center;
    margin-top: 1%;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 70vh;
}

.container {
    width: 26%;
    background-color: #e3e3e3;
    margin-bottom: 5%;

    img {
        width: 90%;

    }
    div {
        color: white;
        font-size: 130%;
        padding: 3%;
        background-color: black;
        text-align: center;
        font-weight: 600;
    }

}

footer {
    height: 10vh;
    text-align: center;
    color: white;
    background-color: #414141;
}